<ion-tabs>

  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/main/home" class="hover-tab">
      <ion-icon aria-hidden="false" name="storefront-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="orders" href="/main/orders" class="hover-tab">
      <ion-icon aria-hidden="true" name="bag-check-outline" class="hover-icon"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/main/history" class="hover-tab">
      <ion-icon name="document-text-outline" class="hover-icon"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/main/profile" class="hover-tab">
      <ion-icon aria-hidden="true" aria-hidden="true" name="menu-outline" class="hover-icon"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>