ion-card-title {
  font-size: 1.4em;
  font-weight: bold;
}

ion-card-subtitle {
  color: var(--ion-color-success);
}

ion-item {
  --min-height: 50px;
  margin-bottom: 10px;
}

ion-label h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

ion-label p {
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

ion-card {
  margin-bottom: 20px;
}